@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,figcaption,figure{
	margin:0;
	padding:0;	
}
body{
	font:.12rem "微软雅黑",Arial;
	list-style: none;	
}
html{
	font-size: 26.67vw;
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;
	font-size:100%;	
}
i,em{
	font-style:normal;
}
img{
	vertical-align:middle;	
}
ul,ol{
	list-style:none;	
}
a{
	// color:#666;	
	color: black;
	text-decoration:none;
}
input{
	outline:none;	
}
.clearfix:after{
	content:'';
	display:block;
	height:0;
	overflow:hidden;
	clear:both;	
}

@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,figcaption,figure{
	margin:0;
	padding:0;	
}
body{
	font:.12rem "微软雅黑",Arial;
	list-style: none;	
}
html{
	font-size: 26.67vw;
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;
	font-size:100%;	
}
i,em{
	font-style:normal;
}
img{
	vertical-align:middle;	
}
ul,ol{
	list-style:none;	
}
a{
	// color:#666;	
	color: black;
	text-decoration:none;
}
input{
	outline:none;	
}
.clearfix:after{
	content:'';
	display:block;
	height:0;
	overflow:hidden;
	clear:both;	
}

